.keypad{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  /* grid-template-rows: minmax(60px,auto); */
  height: 200px;
  width: 250px;
}

input[type="text"]{
  height: 75px;
  width: 250px;
}

.container{
  top:50%;
  left:50%;
 position: absolute;
 transform: translate(-50%,-50%);
 margin: 0 auto;
 width: 256px;
 text-align: center;
 border: 10px solid black;
}

.btn{
  height: 50px;
}